.artifice-list{
    --artifice-collection-indent: 0px;
    --artifice-row-gutter: 22px;

    background-color: var(--unity-colors-box-background);
    
    border-width: 1px;
    border-color: black;
    
    flex-grow: 0;
    
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: var(--artifice-collection-indent);
    margin-right: var(--artifice-collection-indent);
}

.list-header{
    flex-direction: row;
    align-items: center;
    
    padding: 2px 2px 2px 0;
    margin-bottom: 2px;

    border-bottom-width: 1px;
    border-color: var(--unity-colors-default-border);
    
    background-color: rgba(0, 0, 0, 0.1);

    width: 100%;
}

.list-header-prefab-override-indicator{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 2px;
    height: 35px;
    background-color: dodgerblue;
}

.drag-hover{    
    background-color: var(--unity-colors-highlight-background-inactive);
}

.arrow-symbol-label{
    font-size: 10px;
    color: grey;
    margin-left: 2px;
    margin-right: 3px;
}

.rotate-0{
    rotate: 0deg;
    transition: 0.7s;
}
.rotate-90{
    rotate: -90deg;
    transition: 0.7s;
}

.list-title-label{
    flex-grow: 1;
}

.size-field{
    flex-direction: row;
    margin-right: 15px;
    align-items: center;

    justify-content: flex-end;
}
.size-title-label{
    margin-right: 10px;
}
.size-value-field{
    padding: 1px;

    flex-grow: 0;
    flex-shrink: 0;

    border-width: 1px;
    border-color: var(--unity-colors-input_field-border);
    border-radius: 2px;

    max-width: 75px;
    min-width: 50px;
}
.size-text{
    -unity-text-align: middle-right;
}
.size-field-raycast-blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.add-button{
    height: 100%;
    flex-shrink: 1;
    align-self: flex-end;
}

.children-container{
    background-color: transparent;
}

.element-container{
    flex-direction: row;
    padding-top: 1px;
    padding-bottom: 2px;
}
.element-container-even{
    background-color: transparent;
}
.element-container-odd{
    background-color: rgba(0, 0, 0, 0.15);
}

.element-container .property-container{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.artifice-list .unity-foldout__content{
    margin-left: 0;
    padding-left: 0;
}

.element-container .unity-base-field {
    margin-left: 2px;
    margin-right: 2px;
}

.drag-control{
    color: grey;

    width: var(--artifice-row-gutter);
    height: 20px;

    -unity-text-align: upper-center;

    scale: 1.5;
}

.empty-list-label{
    margin: 5px 2px;
}

.property-field{
    margin-left: 0;
    flex-grow: 1;
}

.delete-button-container{
    position: relative;
    z-index: 2;
    width: var(--artifice-row-gutter);
}
.delete-button{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0);
    margin: 3px;
    -unity-text-align: middle-center;
}
.delete-button:hover{

}

.element-container:hover{
    background-color: var(--unity-colors-highlight-background-hover);
}

.currently-dragged{
    background-color: var(--unity-colors-highlight-background-inactive);
    scale: 1.03 1 1;
    transition: 0.15s;
}

.add-button-big {
    flex-grow: 1;
    height: 30px;
    background-color: rgb(38, 38, 38);
    color: white;
    border-width: 0;
    padding: 0;
    margin: 0;
}
