.default-content-container{
    background-color: var(--artifice-group-content-color);
}

.title-container{
    border-bottom-width: 1px;
    border-color: var(--unity-colors-inspector_titlebar-border);
    border-radius: 3px;

    background-color: var(--artifice-group-title-color);
}

.title-label{
    padding: 5px;
}
