.group-container{
    width: 100%;
    margin: 2px 0;

    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

.content-container{
    width: 100%;
    padding: 3px;

    justify-content: center;
}

.group-child{
    width: 100%;
}