.group-container{
    /* Override reset BoxGroup USS */
    border-width: 1px;
    border-color: var(--unity-colors-default-border);
    background-color: transparent;
}
.default-content-container{
    flex-direction: column;
}
.content-container{
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.title-container{
    display: none;
}
